
@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar{
  width: 9px;
}

// ::-webkit-scrollbar-track {
//   background: #192134;
//   border-radius: 10px;
// }

::-webkit-scrollbar-thumb {
  background: #06021a;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(6, 14, 103);
}

.heart {
  position: absolute;
  background: url("./images/heart.png") no-repeat;
  background-position: left;
  background-size: 2900%;
  height: 90px;
  width: 90px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.heart.heart-active {
  animation: animate 1s steps(28) 1;
  background-position: right;
}

.star {
  position: absolute;
  background: url("./images/star.png") no-repeat;
  background-position: left;
  background-size: 3000%;
  height: 100px;
  width: 100px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.star.star-animate {
  animation: animate 1s steps(29) 1;
}

.star.star-active {
  background-position: right;
}
@keyframes animate {
  0% {
    background-position: left;
  }
  100% {
    background-position: right;
  }
}
